<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<context:component-scan base-package="com.hongru" />
	<context:property-placeholder location="classpath:*.properties"></context:property-placeholder>
	
	<bean id="appConfig" class="com.hongru.config.AppConfig">
		<property name="storagePath" value="${storagePath}"></property>
		<property name="searchResultPagesize" value="${searchResultPagesize}"></property>
	</bean>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="suffix" value=".jsp"></property>
		<property name="prefix" value="/WEB-INF/views/"></property>
	</bean>
	
	<aop:aspectj-autoproxy />

	<!-- 没有这个ajax注解会失效 -->
	<mvc:annotation-driven />

	<mvc:resources mapping="/upload/**" location="/WEB-INF/resources/upload/"></mvc:resources>
	<mvc:resources mapping="/temp/**" location="/WEB-INF/resources/temp/"></mvc:resources>
	<mvc:resources mapping="/attached/**" location="/WEB-INF/resources/attached/"></mvc:resources>
	<mvc:resources mapping="/**" location="/WEB-INF/views/"></mvc:resources>
	
</beans>